<div class="message mb-3 <%= 'me' if message.user_id == session[:user_id] %>">
    <div class="content-container">
        <div class="content">
            <%= message.content%>
        </div>
        <div class="author">
            <%= message.user.username%> | Message: <%=message.user_id%> | Session: <%= session[:user_id]%> 
        </div>
    </div>
</div>
<br>