<%
=begin%>
 <p id="notice"><%= notice %></p> 
<%
=end%>

<div class="container-fluid">
  <div class="row">
    <div class="col-2">
        <%= render 'form', room: Room.new %>
        <hr>
        <% @rooms.each do |room| %>
          <%= link_to room do %>
          <div class="card mb-2">
            <div class=card-body>
              <%= room.name %>
            </div>
          </div>
          <% end %>
        <% end %>
    </div>
    <div class="col-6">
      <% if @room.present? %>
        <div class="chat-room">
        <nav class="navbar navbar-dark bg-dark mb-4">
          <div class="container-fluid">
            <span class="navbar-brand mb-0 h1"><%= @room.name %></span>
            <span class="navbar-brand mb-0 h1">@<%= current_user.username %></span>
          </div>
        </nav>
          
          <div id="messages">
            <% @room.messages.each do |message| %>
              <%= render 'messages/message', message: message %>
            <%end%>
          </div>
          <div class="chat-box">
            <%= render 'messages/form', message: Message.new %>
          </div>
        </div>
      <%end%>
    </div>
  </div>
</div>